apiVersion: v1
kind: Service
metadata:
  name:  istio-ingressgateway-poc
  namespace: poc
  annotations:
    service.beta.kubernetes.io/oci-load-balancer-shape: 10Mbps
spec:
  type: LoadBalancer
  selector:
    istio: poc-ingressgateway
  ports:
  - port: 80
    name: http
  - port: 443
    name: https
  - port: 5000
    name: http-api
  - port: 8080
    name: http-webservice
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: istio-ingressgateway-poc
  namespace: poc
spec:
  selector:
    matchLabels:
      istio: poc-ingressgateway
  template:
    metadata:
      annotations:
        # Select the gateway injection template (rather than the default sidecar template)
        inject.istio.io/templates: gateway
      labels:
        # Set a unique label for the gateway. This is required to ensure Gateways can select this workload
        istio: poc-ingressgateway
        # Enable gateway injection. If connecting to a revisioned control plane, replace with "istio.io/rev: revision-name"
        sidecar.istio.io/inject: "true"
    spec:
      containers:
      - name: istio-proxy
        image: auto # The image will automatically update each time the pod starts.
---
# Set up roles to allow reading credentials for TLS
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: istio-ingressgateway-sds-poc
  namespace: poc
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: istio-ingressgateway-sds-poc
  namespace: poc
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: istio-ingressgateway-sds-poc
subjects:
- kind: ServiceAccount
  name: default